Package: Gereqi
Version: 0.3.9-2
Section: multimedia
Priority: optional
Architecture: all
Essential: no
Depends: python-qt4, python-lxml, python-beautifulsoup, python-gst0.10, python-cddb, python-mutagen
Recommends: gstreamer0.10-plugins-ugly, gstreamer0.10-plugins-bad
Installed-Size: 300
Maintainer: Jonathan Noble <jonnobleuk@gmail.com>
Conflicts: Gereqi
Replaces: Gereqi
Homepage: http://code.google.com/p/gereqi/
Description: An Amarok-1.4 clone in PyQt4 and Gstreamer.

