Package: Gereqi
Version: 0.4.0-rc1
Architecture: all
Maintainer: Jonathan Noble <jonnobleuk@gmail.com>
Installed-Size: 390
Depends: python-qt4 (>= 4.5.0), python-gst0.10, python-mutagen, 
    gstreamer0.10-plugins-ugly, gstreamer0.10-plugins-bad, 
    python-qt4-sql, libqt4-sql-sqlite
Recommends: python-cddb 
Conflicts: Gereqi
Replaces: Gereqi
Provides: Gereqi
Section: multimedia
Priority: optional
Homepage: http://code.google.com/p/gereqi/
Description: An Amarok-1.4 clone in PyQt4 and Gstreamer.
