Source: gereqi
Section: multimedia
Priority: extra
Maintainer: Jon Noble <jonnobleuk@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/gereqi/

Package: gereqi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
    python-qt4 (>= 4.5.0), python-gst0.10, 
    python-mutagen, gstreamer0.10-plugins-ugly, 
    gstreamer0.10-plugins-bad, python-qt4-sql, 
    libqt4-sql-sqlite, python-pyinotify, udisks,python-qt4-phonon,
    python-gpod
Description: A music player based on Amarok-1.4
